<h1>Rock, Paper, Scissors!</h1>
<h2>Sign in to play</h2>

<form method="post" action="/names">

	<label for="markateer_name">
	Markateer name
	<input type="text" name="markateer_name">
	</label>
	
	<input type="submit" value="Submit">

</form>


